                        Custom Sequences 2a

In [1]:
class MyClass:
    def __init__(self, name):
        self.name = name
    
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        print(f'You called + on {self} and {other}')
        return 'Hello from __add__'
    
    def __iadd__(self, other):
        print(f'You called + on {self} and {other}')
        return 'Hello from __iadd__'

In [2]:
c1 = MyClass('instance 1')
c2 = MyClass('instance 2')

In [3]:
c1 + c2

You called + on MyClass(name=instance 1) and MyClass(name=instance 2)

'Hello from __add__'

In [4]:
result = c1 + c2

You called + on MyClass(name=instance 1) and MyClass(name=instance 2)

In [5]:
print(result)

Hello from __add__

In [6]:
c1, c2

(MyClass(name=instance 1), MyClass(name=instance 2))

In [7]:
id(c1)

3065197128480

In [9]:
c1 += c2

You called + on MyClass(name=instance 1) and MyClass(name=instance 2)

In [10]:
c1

'Hello from __iadd__'

In [11]:
id(c1)

3065197005440

In [14]:
class MyClass:
    def __init__(self, name):
        self.name = name
    
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        return MyClass(self.name + other.name)
    
    def __iadd__(self, other):
        if instance(other, MyClass):
            self.name += other.name
        else:
            self.name += other
        return self

In [15]:
c1 = MyClass('Eric')
c2 = MyClass('Idle')
print(id(c1))
print(id(c2))

3065194854240
3065194856256

In [16]:
result = c1 + c2

In [17]:
id(result), result

(3065194855104, MyClass(name=EricIdle))

In [18]:
id(c1), c1

(3065194854240, MyClass(name=Eric))

In [24]:
class MyClass:
    def __init__(self, name):
        self.name = name
    
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        return MyClass(self.name + other.name)
    
    def __iadd__(self, other):
        if instance(other, MyClass):
            self.name += other.name
        else:
            self.name += other
        return self
    
    def __mul__(self, n):
        return MyClass(self.name * n)
    
    def __imul__(self, n):
        self.name *= n
        return self

In [25]:
c1 = MyClass('Eric')

In [26]:
id(c1)

3065199282880

In [27]:
result = c1 * 3

In [28]:
id(result), result

(3065199284176, MyClass(name=EricEricEric))

In [ ]:
c1 += 3

In [29]:
id(c1), c1

(3065199282880, MyClass(name=Eric))

In [31]:
c1 = MyClass('Eric')

In [32]:
c1 * 3

MyClass(name=EricEricEric)

In [33]:
3 * c1

TypeError: unsupported operand type(s) for *: 'int' and 'MyClass'

In [34]:
(3).__mul__(c1)

NotImplemented

In [35]:
c1.__rmul__(3)

AttributeError: 'MyClass' object has no attribute '__rmul__'

In [36]:
3 * c1

TypeError: unsupported operand type(s) for *: 'int' and 'MyClass'

In [37]:
class MyClass:
    def __init__(self, name):
        self.name = name
    
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        return MyClass(self.name + other.name)
    
    def __iadd__(self, other):
        if instance(other, MyClass):
            self.name += other.name
        else:
            self.name += other
        return self
    
    def __mul__(self, n):
        return MyClass(self.name * n)
    
    def __rmul__(self, n):
        return self.__mul__(n)
    
    def __imul__(self, n):
        self.name *= n
        return self

In [38]:
c1 = MyClass('Eric')

In [39]:
c1 * 3

MyClass(name=EricEricEric)

In [41]:
3 * c1

MyClass(name=EricEricEric)

        in operator

In [42]:
l = [1, 2, 3, 4]
s = 'python'

In [43]:
1 in l

True

In [45]:
class MyClass:
    def __init__(self, name):
        self.name = name
    
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        return MyClass(self.name + other.name)
    
    def __iadd__(self, other):
        if instance(other, MyClass):
            self.name += other.name
        else:
            self.name += other
        return self
    
    def __mul__(self, n):
        return MyClass(self.name * n)
    
    def __rmul__(self, n):
        return self.__mul__(n)
    
    def __imul__(self, n):
        self.name *= n
        return self
    
    def __contains__(self, value):
        return value in self.name

In [47]:
c1 = MyClass('Eric Idle')

In [48]:
'Eric' in c1

True

In [49]:
'I' in c1

True

In [50]:
'Z' in c1

False